{% extends 'base.html.twig' %}

{% block title %}Liste des Consultations{% endblock %}

{% block body %}
    <h1>Liste des Consultations</h1>

    <table>
        <thead>
            <tr>
                <th>Animal</th>
                <th>Habitat</th>
                <th>Date</th>
                <th>Nombre de consultations</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for consultation in consultations %}
                <tr>
                    <td>{{ consultation.Animal_id.Prenom }}</td>
                    <td>{{ consultation.Habitat_id.Name }}</td>
                    <td>{{ consultation.Date|date('Y-m-d') }}</td>
                    <td>{{ consultation.Nombre_de_consultation }}</td>
                    <td>
                        <a href="{{ path('consultation_edit', {id: consultation.id}) }}">Modifier</a>
                        <form action="{{ path('consultation_delete', {id: consultation.id}) }}" method="post" style="display:inline;">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('consultation_new') }}">Ajouter une nouvelle consultation</a>
{% endblock %}
